<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KJournal.Web</title>
    <link rel="stylesheet" href="~/lib/picocss/pico.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KJournal.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong><a asp-area="" asp-page="/Index">KJournal</a></strong></li>
            </ul>
            <ul>
                <li><a asp-area="" asp-page="/Index">Home</a></li>
                <li><a asp-area="" asp-page="/Privacy">Privacy</a></li>
                <li><a asp-area="" asp-page="/Calendar">Calendar</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer class="container">
        <p>&copy; 2024 - KJournal.Web - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
